<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="FSCope is dedicated to facilitating the analysis of homeless services data, including identifying data quality issues, visualizing program performance, and enabling user-friendly querying and reporting.">

    <title>FSCope</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" alt="FSCope Logo">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>
    <section class = "container">
      <h1>About FSC<img class = "h1Logo" src="{{ url_for('static', filename='logo.png') }}" alt="Scope target logo.">pe</h1>
      <p>
        Welcome to FSCope! This project is dedicated to facilitating the analysis of homeless services data, with a focus on the following three goals: </p>
        <ul>
          <li>Identifying Data Quality Issues</li>
          <li>Visualizing Program Performance</li>
          <li>Enabling User-Friendly Querying/Reporting</li>
        </ul>
   
      <p>
        
        The search page allows you to filter information from this database, and select columns to view. In the Python backend, this form information is converted into a SQL query, which is executed using SQLAlchemy, and the results are formatted into Jinja2 templates, rendered using Flask.

        <a href= "http://github.com/ezamo007/FSCope-Enhanced">Click here</a> to view the source code on GitHub.
      </p>
    </section>
        <section id = "button-row" class = "container">

<a href="/checks" class="waves-effect waves-light btn  tooltipped" data-tooltip="Beta" data-position="bottom">Data Quality Checks</a>
<a href="/#" class="grey lighten-1
 waves-effect waves-light btn  tooltipped" data-position="bottom" data-tooltip="Coming Soon">Program Performance</a>
<a href="/search" class="waves-effect waves-light btn" >Search Data</a>
        </section>
        <section class = "container">
          <!-- <p>
            My original project, was written in Node.js and stored data in JSON files. This "enhanced" implementation uses Python and stores data in an SQLite database.
            The data used for this project is fictional and is imported from CSV-formatted spreadsheets, whose contents are shown below.
                
              </p> -->
        <h1>About Me</h1>
      </section>

    <section class = "container" id = "aboutMeDiv">
      
      <div>
        <a href = "https://www.linkedin.com/in/eduardo-zamora-2a9b45132/"><img id="aboutMeImage" src="{{ url_for('static', filename='me/media/mii.png') }}" alt="Mii."></a>
      </div>
      <div id="aboutMeText">
    <p>
      My name is Eduardo Zamora. I studied applied mathematics at UC Riverside and know how to do the following:</p>
      <ul>
        <li>Clean and visualize data with Python</li>
        <li>Write SQL Queries</li>
        <li>Create and Schedule Reports using the BI platform Looker</li>
        <li>Automate web tasks with Selenium</li>
        <li>Use Google Workspace APIs to process spreadsheets and manage files</li>
        <li>Write spreadsheet macros using Google App Script</li>
        <li>Write Excel formulas and create pivot tables</li>
        <li>Learn to use new software packages and libraries</li>
      </ul>
      <!-- <p>
        For more information about me, <a  href="/#">click here</a>.
      </p> -->
    </div>
  </section>


  <section class = "container">
    <h1>enrollments.csv</h1>
      <table class="striped">
        <thead class = "dark-header">
          <tr>
            {% for cell in spreadsheetData.enrollments[0] %}
          
            <td>{{cell}}</td>
            {%endfor%}
          </tr>
          </thead>

          <tbody>
            {% for row in spreadsheetData.enrollments[1:] %}

            <tr>
            
                  {% for cell in row%}
                
                  <td>{{cell}}</td>
                  {%endfor%}
            </tr>
            {%endfor%}

          </tbody>
      </table>
  </section>
    <section class="container">
      <h1>services.csv</h1>
      <table class="striped">
        <thead class = "dark-header">
          <tr>
            {% for cell in spreadsheetData.services[0] %}
          
            <td>{{cell}}</td>
            {%endfor%}
          </tr>
          </thead>

          <tbody>
            {% for row in spreadsheetData.services[1:] %}

            <tr>
            
                  {% for cell in row%}
                
                  <td>{{cell}}</td>
                  {%endfor%}
            </tr>
            {%endfor%}

          </tbody>
      </table>
    </section>
    <section class="container">
      <h1>notes.csv</h1>
      <table class="striped">
        <thead class = "dark-header">
          <tr>
            {% for cell in spreadsheetData.notes[0] %}
          
            <td>{{cell}}</td>
            {%endfor%}
          </tr>
          </thead>

          <tbody>
            {% for row in spreadsheetData.notes[1:] %}

            <tr>
            
                  {% for cell in row%}
                
                  <td>{{cell}}</td>
                  {%endfor%}
            </tr>
            {%endfor%}

          </tbody>
      </table>
    </section>
   


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var tooltips = document.querySelectorAll('.tooltipped');
    M.Tooltip.init(tooltips);
  });
</script>
  </body>
</html>