<!DOCTYPE html>
<html>
<head>
    <title>Dashboard with Chart.js</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Import Materialize CSS styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/performance.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" alt="FSCope Logo">
  </head>
  <body>
    <a href = "/"><h1 class = "title">FSC<img class = "h1Logo" src="{{ url_for('static', filename='logo.png') }}" alt="Scope target logo.">pe</h1></a>

    <div class="container">
        <div class= "lineChart">
        <h4>Monthly Program Sizes</h4>
            <canvas id="monthlyProgramSizes"></canvas>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
       ctx = document.getElementById("monthlyProgramSizes")

  new Chart(ctx, {
    type: 'line',
    data: {
            labels: {{ program_metrics.month_list | tojson }},
            datasets: [
                {% for program, data in program_metrics.monthlyProgramSizes.items() %}
                {
                    label: "{{ program }}",
                    data: {{ data | tojson }},
                    borderWidth: 1,
                    tension: 0.2
                },

            
                {% endfor %}
            ],
        },
    options: {
        responsive: true,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
 



    </script>
</body>
</html>
