<!DOCTYPE html>
<html>
  <head>
    <title>Enrollments and Services</title>
    <!-- Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1><b>Search (beta)</b></h1>
      <form action="/results" method="POST">
        <div class="search-form">
          <div id="search-rows">
            <div class="row search-row">
              <div class="input-field col s3">
                <select name="search-field">
                  <option value="Client.client_name">Client Name</option>
                  <option value="Enrollment.program_name" selected>Program Name</option>
                  <option value="Enrolment.entry_date">
                    Program Entry Date
                  </option>
                  <option value="Enrollment.exit_date">
                    Program Exit Date
                  </option>
                  <option value="Service.service_name">Service Name</option>
                  <option value="Service.service_amount">Service Amount</option>
                  <option value="Service.start_date">Service Start Date</option>
                  <option value="Service.end_date">Service End Date</option>
                </select>
              </div>
              <div class="input-field col s4">
                <select name="search-operator">
                  <option value="=">=</option>
                  <option value=">">&gt;</option>
                  <option value="<">&lt;</option>
                  <option value="!=">&ne;</option>
                  <option value="like" selected>Includes</option>
                  <option value="not-like">Does not Include</option>
                </select>
              </div>
              <div class="input-field col s3">
                <input type="text" name="search-value" />
              </div>
              <div class="input-field col s2">
                <select name="search-logic">
                  <option value="AND">AND</option>
                  <option value="OR">OR</option>
                  <option value="" selected></option>
                </select>
              </div>
            </div>
          </div>

          <div id="column-checkboxes">
            <h4><b>Columns to Display</b></h4>
            <div class="row">
              <div class="col s4">
                <h4>Client</h4>
                <p>
                  <label>
                    <input
                      type="checkbox"
                      class="filled-in service-checkbox"
                      name="columns"
                      value="Client.client_name"
                    />
                    <span>Name</span>
                  </label>
                </p>

                <p>
                  <label>
                    <input
                      type="checkbox"
                      class="filled-in service-checkbox"
                      name="columns"
                      value="Client.client_id"
                    />
                    <span>ID</span>
                  </label>
                </p>
              </div>

              <div class="col s4">
                <h4>Enrollment</h4>
                <p>
                  <label>
                    <input
                      type="checkbox"
                      class="filled-in service-checkbox"
                      name="columns"
                      value="Enrollment.program_name"
                    />
                    <span>Program Name</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input
                      type="checkbox"
                      class="filled-in service-checkbox"
                      name="columns"
                      value="Enrollment.entry_date"
                    />
                    <span>Entry Date</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input
                      type="checkbox"
                      class="filled-in service-checkbox"
                      name="columns"
                      value="Enrollment.exit_date"
                    />
                    <span>Exit Date</span>
                  </label>
                </p>
              </div>

              <div class="col s4">
                <h4>Service</h4>
                <p>
                  <label>
                    <input
                      type="checkbox"
                      class="filled-in service-checkbox"
                      name="columns"
                      value="Service.service_name"
                    />
                    <span>Name</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input
                      type="checkbox"
                      class="filled-in service-checkbox"
                      name="columns"
                      value="Service.service_amount"
                    />
                    <span>Amount</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input
                      type="checkbox"
                      class="filled-in service-checkbox"
                      name="columns"
                      value="Service.start_date"
                    />
                    <span>Start Date</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input
                      type="checkbox"
                      class="filled-in service-checkbox"
                      name="columns"
                      value="Service.end_date"
                    />
                    <span>End Date</span>
                  </label>
                </p>
              </div>
            </div>

            <div class="col s2" id="submitButton">
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="search-submit"
              >
                Search
              </button>
            </div>


          </div>

          
        </div>
      </form>
    </div>
    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      // Initialize Materialize select dropdowns
      document.addEventListener("DOMContentLoaded", function () {
        var selects = document.querySelectorAll("select");
        M.FormSelect.init(selects);
      });

      var searchLogic = document.getElementsByName("search-logic")[0];
      searchLogic.addEventListener("change", function () {
        if (searchLogic.value != "") {
          addNewRow();
        }
      });

      function addNewRow() {
        var newRow = document.createElement("div");
        newRow.classList.add("row", "search-row");
        newRow.innerHTML = `
              <div class="input-field col s3">
                <select name="search-field">
                  <option value="Client.client_name">Client Name</option>
                  <option value="Enrollment.program_name">Program Name</option>
                  <option value="Enrolment.entry_date">Program Entry Date</option>
                  <option value="Enrollment.exit_date">Program Exit Date</option>
                  <option value="Service.service_name">Service Name</option>
                  <option value="Service.service_amount">Service Amount</option>
                  <option value="Service.start_date">Service Start Date</option>
                  <option value="Service.end_date">Service End Date</option>
                </select>
              </div>
              <div class="input-field col s4">
                <select name="search-operator">
                  <option value="=">=</option>
                  <option value=">">&gt;</option>
                  <option value="<">&lt;</option>
                  <option value="!=">&ne;</option>
                  <option value="like">Includes</option>
                  <option value="not-like">Does not Include</option>
                </select>
              </div>
              <div class="input-field col s3">
                <input type="text" name="search-value">
              </div>
              <div class="input-field col s2">
                <select name="search-logic">
                  <option value="AND">AND</option>
                  <option value="OR">OR</option>
                  <option value="DELETE">DELETE</option>
                  <option value="" selected></option>
                </select>
              </div>
  `;
        document.querySelector("#search-rows").appendChild(newRow);
        M.FormSelect.init(newRow.querySelectorAll("select"));
        newRow.addEventListener("change", function () {
          var searchLogic = newRow.querySelector('[name="search-logic"]');
          if (searchLogic.value == "DELETE") {
            searchLogic.parentNode.parentNode.parentNode.remove();
          } else if (searchLogic.value != "") {
            addNewRow();
          }
        });
      }
    </script>
  </body>
</html>
